@{
    ViewData["Title"] = "Pierre Avenant";
}
<div class="row">

</div>
<div class="row">
    <div>
        <h2 class="lead">Hi, I'm Pierre</h2>
        <p>
            I love technology. I love computers. I love code. I have experience in Finance, Insurance and Online Marketing for almost 20 years. If you have a BUPA policy, there is a good chance you have touched documents I created. If you have booked a holiday, there is a good change you have clicked on ads I have shown you.
        </p>
    </div>
</div>
<div class="row">

</div>

<div class="row">
    <div class="col-md-3">
        <img src="~/images/PierreProfile.jpg" alt="Pierre" class="img-responsive" />
    </div>
       <div class="col-md-3">
        <h2>Programming Experience</h2>
        <ul>
            <li>C# 7</li>
            <li>T-SQL (SQL SERVER)</li>
            <li>.NET Framework 4.7/.NET Core 2.1</li>
            <li>RabbitMQ</li>
            <li>
                Concurrent Programming
                <ul>
                    <li>TPL</li>
                    <li>PLINQ</li>
                    <li>Async</li>
                </ul>
            </li>
            <li>MVC/ASP.NET</li>
            <li>REST</li>
            <li>RegEx</li>
            <li>MongoDB</li>
            <li>Loads of other stuff....</li>
        </ul>
    </div> 
       <div class="col-md-3">
        <h2>Tools & Methodologies </h2>
        <ul>
            <li>Notepad</li>
            <li>Visual Studio/Code</li>
            <li>Powershell</li>
            <li>GIT</li>
            <li>SSMS</li>
            <li>Slack</li>
            <li>Atlasian Tools</li>
            <li>Agile - Scrum</li>
            <li>SOLID</li>
        </ul>
    </div>     
       <div class="col-md-3">
           <h2>Hobbies</h2>
           <ul>
               <li>Reading</li>
               <li><a href="Wine">Wine</a></li>
               <li>Beer</li>
               <li>Mountain Biking</li>
           </ul>
           <h2>Playing With</h2>
           <ul>
               <li>.net core</li>
               <li>Azure</li>
               <li>AWS</li>
           </ul>
       </div>     
</div>
